<h1>Welcome to User LOGIN APPLICATION</h1>
<br>
<br>
<div>
<%= image_tag("userpic/user.png")%>
<p id="desc">This is User Login Application. <br>
User can login and signout whereas<br>
 user can also login with facebook, <br>
 twitter, and google_oauth2. <br> 
</p>
</div>
<br>
<br>
<p class="signin">Or, sign in with
  <%= link_to "Facebook", user_facebook_omniauth_authorize_path %> /
  <%= link_to "Twitter" , user_twitter_omniauth_authorize_path%> /
  <%= link_to "google_oauth2" , user_google_oauth2_omniauth_authorize_path%>  
</p>
