
<% if user_signed_in? %>
		<h1>Welcome to user LOGIN APPLICATION</h1>
		<hr>
    <p><h3>Hello,</h3><br>
    <b>Your Personal Details:</b>
    <br><br>
     
     <br>
    <b>Name  : </b><%= current_user.name %><br>
    <b>Email : </b><%= current_user.email %><br>
    
    
    <% end %>